<% include partials/bank_header %>

        <div id="mySidenav" class="sidenav">
                <div class="container" id="form_container1">
                        <form action="/bank_home" method="POST">
                            <button type="submit" class="btn btn-primary">Home</button>
                            <!-- <a href="#" id="notifications">Home</a> -->
                        </form>
                    </div>
                    <div class="container" id="form_container3">
                        <form action="/authority_submit" method="POST">
                            <button type="submit" class="btn btn-primary">Activity</button>
                            <!-- <a href="#" id="notifications">Home</a> -->
                        </form>
                    </div>
                    <div class="container" id="form_container4">
                        <form action="/gen_conversion" method="POST">
                            <button type="submit" class="btn btn-primary">Conversion</button>
                            <!-- <a href="#" id="notifications">Home</a> -->
                        </form>
                    </div>
            <form>
                
                <div class="form-group"> 
                    <label for="username">Username:</label>
                    <input type="number" id="username" placeholder="<%= usern %>">
                    <label for="username">Designation:</label>
                    <input type="number" id="designation" placeholder="<%= desgn %>">
                    <label for="username">Department:</label>
                    <input type="number" id="department" placeholder="<%= dept %>">
                </div>
            </form>
        </div>
                          
        <!-- Use any element to open the sidenav -->
        <span onclick="openNav()">open</span>
                          
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div class="main" id="main">
    	<nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                </div>
                <div class="nav navbar-nav navbar-left">
                    <a href="#"><img src="https://cdn.worldvectorlogo.com/logos/forex-1.svg" width="82" height="60" title="Forex System" id="home_link"></a>
                </div>
                <div class="nav navbar-nav navbar-default">
                    <p id="home_title">FOREX SYSTEM</p>
                </div>
                <div class="collapse navbar-collapse" id="bs-nav-demo">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="login"><a href="/login.ejs" title="login">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="form_container">
                <form action="/valeq_submit" method="POST">
                        <h3>Submission Page</h3>
                        <div class="form-group">
                          <label for="from_value">Total Value:</label>
                          <input name="from_value" type="number" id="from_value" placeholder="0" required>
                        </div>
                        <div name="currtype" class="form-group">
                                <label for="type">Type of Currency:</label>
                                <select name="type" id="type">
                                      <option value="" disabled selected>Submission value type</option>
                                      <option>Shares</option>
                                      <option>Digital Currency</option>
                                      <option>Property</option>
                                      <option>Liquid Cash</option>
                                      <option>Gold</option>
                                </select>
                        </div>
                        <div class="text-center"> 
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </form>
        </div>
        </div>
<% include partials/footer %>        
        