
img{
    float: left;
    padding: 2px;
}
body {
    background: url(https://images.wallpaperscraft.com/image/coins_money_silver_80483_1920x1080.jpg);
    float: left;
    /*background-size: cover;*/
    /*background-position: center; */
}
.sidenav label{
    margin-left:4px;
    color: white;
}
#username{
    width: 75%;
    margin: 10px;
    margin-top: 0px;
}
#designation{
    width: 75%;
    margin: 10px;
    margin-top: 0px;
}
#department{
    width: 75%;
    margin: 10px;    
    margin-top: 0px;
}
form button{
    margin:10px;
}
#form_container{
    padding:8px;
    background:#b3b3b3;
    width: 550px;
    height:400px;   
}
label{
    text-align: center;
    margin-left: 105px;
}
.navbar{
    background: black;
}
table{
    border: 4px solid black;
}
h3{
    text-align: center;
    font-weight: 600;
}
#from_value{  
    width: 230px;
    margin-left: 58px;
}
form{
    font-style: inherit;
    color: black;
}
form button{
    margin: 10px;
}
#home_title{
    font-family: Arvo;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    /*padding-left: 5px;*/
    background: black;
}
#home_link{
    /*border:2px solid #afb4bd;*/
    font-family: Arvo;
    color: blue;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }